.wrapper {
    width: 40%;
    height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
.wrapper-second {
    width: 40%;
    height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
.modal {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.354);
}
.modal-body {
    width: 400px;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
   transform: translate(-50%, -50%);
   border: 1px solid black;
   border-radius: 10px;
}
.modal-img {
    border-bottom: 2px solid black;
}